<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>
            Welcome to <%=title%>
        </h1>
        <ul>
            <%for(var item of list){%>
                <li><%=item%></li>
            <%}%>
        </ul>
    </body>
</html>